<div class="alert alert-warning alert-dismissible fade show" role="alert">
 <!-- put embeded ruby so in every webpage, it will show the notice-->
 <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>